body{
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #434455;
}
a{
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
address{
    font-style: normal;
}
ul{
    list-style-type: none;
        margin: 0;
        padding: 0;
}
button{
    cursor: pointer;

}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.section{
            padding: 120px 0 120px;
}
/* #region common */
.subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.section-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* #endregion */

/* #region header*/
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

.nav {
        display: flex;
        align-items: center;
        flex-grow: 1;
}

.logo {
    display: flex;
    /* align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0px;
    margin-right: 72px; */
    
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}
.logo-header-part {
    color: #2e2f42;
}
.nav-list {
    display: flex;
    align-items: center;
                /* justify-content: flex-start;
                flex-direction: row; */
    gap: 40px
}

.nav-item {}

.nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link.active {
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.active::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    background-color: #404bbf;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    display: block;
}

.nav-link:hover,
.nav-link:focus{
    color: #404bbf;
}

.address {
    font-style: normal;
    display: flex;
    margin-left: auto;
}

.address-list {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 24px 0;
}

.address-item {}

.address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: block;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.address-link:hover,
.address-link:focus{
    color: #404bbf;
}
/* #endregion */

/* #region hero */
.hero-section{
    padding: 188px 0 188px;
    background: #2e2f42;
    background-image: 
    linear-gradient(to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url(../images/hero-image.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.hero-container{
    display: block;

}
.hero-title {
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: block;
    margin-top: 45px;
    height: 56px;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    text-align: center;
    padding: 16px 32px 16px 32px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
}

.btn:hover,
.btn:focus {
    background: #404BBF;
}
/* #endregion */

/* #region benefits*/
.benefits-section{}

.benefits-list {
    display: flex;
    gap: 24px;
}

.benefits-item {
    width: calc((100% - 72px) / 4);
}

.subtitle-team{
    text-align: center;
}

.list-text-team{
    text-align: center;
}
/* #endregion */

/* #region team */
.team-section{
    background: #f4f4fd;
}

.team-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}
.wrapper-team-list{
    padding: 32px 0;
    text-align: center;
}
.team-item {
    background: #fff;
    width: 264px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
}
/* #endregion */

/* #region portfolio*/
.portfolio-section{}

.portfolio-list {
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}
.wrapper-portfolio-list{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    /* margin-bottom: 0; */
}
.portfolio-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* #endregion */

/* #region footer*/
.footer{
        background: #2e2f42;
        padding: 100px 0;
}
.wrapper-footer-right{
}
.logo-footer-part {
    color: #f4f4fd;
}
.footer-logo{
    display: inline-block;
    margin-bottom: 16px;
}
.footer-text {
    max-width: 264px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;   
}
/* #endregion */

/* homework4 */
.socials{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}
.social-item{
    width: 40px;
    height: 40px;
}
.social-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus{
background-color: #404bbf;
}
.social-icon{
    fill: #f4f4fd;
}
.wrapper-portfolio-img{
    position: relative;
    overflow: hidden;
}
.description-card{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    /* padding-top: 40px;
    padding-left: 32px;
    padding-right: 32px; */
    padding: 40px 32px;
}
.portfolio-item:hover .description-card{
    transform: translateY(0%);
}
.portfolio-item:hover{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.benefits-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
}
.benefits-icon{
}
.footer-title-socials{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}
.wrapper-footer{
    margin-right: 120px;
}
.container.footer-container{
    display: flex;
    align-items: baseline;
}
.footer-socials{
    display: flex;
    gap: 16px;
    padding: 0;
}
.footer-link:hover,
.footer-link:focus{
    background-color: #31d0aa;;
}
.footer-social-media{
    margin-right: 80px;
}

/* homework5 */
.modal-overlay{
    background-color: rgba(46, 47, 66, 0.4);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    opacity: 0;
    pointer-events: none;
}
.modal-overlay.is-open{
    opacity: 1;
    pointer-events: auto;
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 4px;
    width: 408px;
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    padding: 24px;
    padding-top: 72px;
}
.btn-overlay-close{
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    padding: 0;
    cursor: pointer;
}
.close-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-overlay-close:hover,
.btn-overlay-close:focus{
    background-color: #404bbf;
    border: none;

}


.btn-overlay-close:hover .close-icon,
.btn-overlay-close:focus .close-icon {
    fill: #fff;
}

.overlay-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
    
}
.overlay-form{
    display: flex;
    flex-direction: column;
}
.wrapper-overlay-label {
    margin-bottom: 8px;
}
.overlay-label{
    display: block;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;

    margin-bottom: 4px;
}
.wrapper-overlay-input{
    position: relative;
}
.overlay-input{
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
    padding-left: 38px;
}
.overlay-social-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay-input:focus {
    border-color: #4d5ae5;
}

.overlay-input:focus+.overlay-social-icon {
    fill: #4d5ae5;
}
.wrapper-overlay-textarea{
    margin-bottom: 16px;
}
.overlay-input.textarea{
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    resize: none;

    padding: 8px 16px;
}
.wrapper-overlay-checkbox{
    margin-bottom: 24px;
}
.overlay-label-checkbox {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}
.overlay-checkbox-span{
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    cursor: pointer;

    margin-right: 8px;
}
.overlay-link{
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}
input[type='checkbox']:checked + .overlay-label-checkbox .overlay-checkbox-span{
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}
.btn.overlay-btn{
    margin-top: 0px;
}

.footer-input{
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    background-color: transparent;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    outline: transparent;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-left: 16px;
}
.footer-form{
        display: flex;
        gap: 24px;
        flex-wrap: wrap;

}
.btn-footer{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 4px;
    border: none;
    min-width: 165px;
    height: 40px;
    padding: 8px 24px;
    background: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-footer:hover,
.btn-footer:focus{
    background: #404BBF;
}
.subscribe-icon{
    margin-left: 16px;
}